/* app/dashboard/page.module.css */
.formsContainer {
    text-align: center;
    margin-top: 20px;
}

.formsTitle {
    font-size: 2rem;
    color: #333;
}

.frormsText {
    font-size: 1.2rem;
    color: #666;
}
