/*
.studentsContainer {
    text-align: center;
    margin-top: 20px;
}

.studentsTitle {
    font-size: 2rem;
    color: #333;
}

.studentsText {
    font-size: 1.2rem;
    color: #666;
}
